### Created automatically by Ansible.
### Please don't change it manually.

[Unit]
Description={{ app_name }}
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=1s
ExecStartPre=-/usr/bin/docker pull {{ app_docker_image }}:{{ app_docker_tag}}
ExecStartPre=-/usr/bin/docker kill {{ app_name }}
ExecStartPre=-/usr/bin/docker rm {{ app_name }}
ExecStart=/usr/bin/docker run --name {{ app_name }} \
                                --log-opt labels={{ env }},{{ app_name }} \
                                -a stderr -e \
                                --env-file={{app_dir}}/.env.{{ app_name }}.{{ env }}\
                                --memory {{ app_memory }} \
                                {{ app_docker_image }}:{{ app_docker_tag[0:7]}} {{ app_command  }}

ExecStop=/usr/bin/docker stop {{ app_name }}

[Install]
WantedBy=multi-user.target
